{% extends 'base.html' %}
{% block content %}

    <br>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Amount</th>
        </tr>
        </thead>
        <tbody>
        {% for category in current_user.budget.categories %}
            <tr>
            <td>{{ category.name }}</td>
            <td>{{ category.amount }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td>Total Budget:</td>
            <td>{{ current_user.budget.amount }}</td>
          </tr>
        </tbody>
    </table>
    <br>

    <table>
        <thead>
            <tr>
                <th>Category</th>
                <th>Transaction Amount</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for category in current_user.budget.categories %}
                {% for transaction in category.transactions %}
                    <tr>
                        <td>{{ category.name }}</td>
                        <td>{{ transaction.amount }}</td>
                        <td>{{ transaction.created_at }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
    
    <br>
    <button><a href="/transaction">Add Transaction</a></button>
    

 
{% endblock %}