{% extends 'base.html' %}

{% block content %}
    <form method="POST">
        <h3>Login</h3>
        <label for="identifier">Email or Username</label>
        <input 
            type="text" 
            name="identifier" 
            placeholder="Enter Email or Username">

        <label for="password">Password</label>
        <input 
            type="password" 
            name="password" 
            placeholder="Enter Password">

        <br>

        <button type="submit">Login</button>
    </form>
{% endblock %}
