{% extends 'base.html' %}

{% block content %}
    <form method="POST">
        <h3>Sign Up</h3>
        <label for="email">Email Address</label>
        <input 
            type="email" 
            name="email" 
            placeholder="Enter Email">
        <label for="username">Username</label>
        <input 
            type="username" 
            name="username" 
            placeholder="Enter Username">

        <label for="password1">Password</label>
        <input 
            type="password" 
            name="password1" 
            placeholder="Enter Password">
        <label for="password2">Confirm Password</label>
        <input 
            type="password" 
            name="password2" 
            placeholder="Confirm Password">
        
        <br>

        <button type="submit">Submit</button>
    </form>
{% endblock %}