nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #E6E6E6;
  width: 15%;
  height: 100vh;
  border-right: 1px solid #bfbdbd;
}

.nav-logo a{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #bfbdbd;
}

.nav-logo img {
  width: 2.5rem;
}

.nav-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-content ul li{
  padding: 1rem;
  font-size: 1.3rem;
}

.nav-content a {
  font-family: Arial;
  text-decoration: none;
  color: black;
  padding: 2rem;
}

.nav-content a:hover {
  font-weight: bold;
}

.navbar-bottom {
  border-top: 1px solid #bfbdbd;
  display: flex;
  justify-content: center;
  font-size: 1rem
}

.navbar-bottom a {
  padding: 1rem;
  text-decoration: none;
  color: black;
}

.navbar-bottom a:hover {
  text-decoration: underline;
}